ASSIGNMENT--2

 Part A: Basics (Comments, Variables, Numbers, Casting, Strings,
 Booleans, Operators)

In [ ]:
#Q 1Write a short program that prints your name and age. Add comments explaining each line of
# your code.
name="Radha Rao"
age=25
print(name,age)

Radha Rao 25

In [ ]:
#Q2 Take input for your age (as a string) and convert it into an integer. Print your age and confirm its
 #data type.
age =int(input("Enter the Age"))
print(int(age))
print(type(age))

Enter the Age      25
25
<class 'int'>

In [ ]:
#Q3 Write a program that takes two numbers as input and prints their sum, difference, product, and
 #quotient.
A=int(input("Enter the Number"))
B=int(input("Enter the Number"))
print("Sum of :",A+B)             #sum of two numbers
print("Difference of:",A-B)       #Difference of two numbers
print("Product of:",A*B)          #Product of two numbers
print("quotient of:",A%B)         #quotient of two numbers

Enter the Number   15
Enter the Number      5
Sum of : 20
Difference of: 10
Product of: 75
quotient of: 0

In [ ]:
#Q 4Ask the user to enter their full name. Then: Print the name in uppercase, print only the first
 #three characters, and print the length of the name.
text=input("Enter the Full Name:")
print(text.upper())
print(text[1:5])
print(len(text))

Enter the Full Name:  radha rao
  RADHA RAO
 rad
11

In [ ]:
 #Q5 Write a program to check if a number entered by the user is greater than 100. Print True if yes,
 #otherwise False.
num=int(input("Enter the value:"))
if num >=100:
  print("The number is True:")
else:
  print("The number is False:")

Enter the value:  110
The number is True:

 Part B: Collections (Lists, Tuples, Sets, Dictionaries)

In [ ]:
#Q1.Create a list of 5 fruits. Then: Print the first fruit, add a new fruit, remove one fruit, and print the
 #final list.
fruit=["Apple","Banana","cherry","mango","orange"]      #create a list
print(fruit)
fruit.append("Kiwi")                       #Add a new fruit
print(fruit)
fruit.remove("orange")                     #Remove one fruit
print(fruit)                               #print final list

['Apple', 'Banana', 'cherry', 'mango', 'orange']
['Apple', 'Banana', 'cherry', 'mango', 'orange', 'Kiwi']
['Apple', 'Banana', 'cherry', 'mango', 'Kiwi']

In [6]:
#Q 2 Create a tuple containing the names of 4 countries. Try to change one country name and see
 #what happens. Write a comment explaining why.
countries=("India","japan","brazil","china")

countries[1] = "China"      # Trying to change one value
print(countries)

# Explanation:
# Tuples are immutable, meaning their values cannot be changed after creation.
# So Python will show: TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Q3. Create two sets: A={1,2,3,4,5}, B={4,5,6,7,8}. Find the union, intersection, and difference (A-B).
A={1,2,3,4,5}
B={4,5,6,7,8}
set=A.union(B)         #union operation
print(set)
set=A.intersection(B)   #intersection operation
print(set)
set=A.difference(B)     #difference operation
print(set)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [ ]:
#Q 4.Create a dictionary for a student with keys: name, age, grade. Print each key-value pair.
#Update the grade to a new value and print the updated dictionary
student={
   "name":"john",
    "age": 25,
   "grade":"A",


}
print(student)
student.update({"grade":"B"})
print(student)

{'name': 'john', 'age': 25, 'grade': 'A'}
{'name': 'john', 'age': 25, 'grade': 'B'}

 Part C: Conditional Statements (if..else)

In [ ]:
#Q1.. Write a program to check if a number entered by the user is even or odd
num=int(input("Enter the value:"))
if num % 2==0:
  print("the number is even:")
else:
  print("the number is odd:")

Enter the value:  6
the number is even:

In [ ]:
#Q2 Write a program that takes three numbers and prints the largest one.
num1=int(input("Enter the value:"))
num2=int(input("Enter the value:"))
num3=int(input("Enter the value:"))
if num1 >=num2 and num1>=num3:
 print("the largest number is :",num1)
elif num2>=num1 and num2>=num3:
  print("the largest number is:",num2)
else:
  print("the largest number is:",num3)

Enter the value:  85
Enter the value:   25
Enter the value:   89
the largest number is: 89

In [ ]:
#Q3.3 Write a program that asks for marks (0–100) and prints A if marks ≥ 90, B if 75 ≤ marks < 90, C
#if 50 ≤ marks < 75, and Fail if marks < 50.
marks=int(input("Enter your marks(0-100):"))
if marks >=90:
  print("Grade:A")
elif marks>=75:
  print("Grade:B")
elif marks >=50:
  print("Grade:C")
elif marks >=0:
 print("Fail")
else:
  print("invalid marks ! ")

Enter your marks(0-100):   85
Grade:B

 Part D: Loops (for, while)

In [ ]:
#Q1. 1 Ask the user for a number and print its multiplication table up to 10 using a for loop.
num=int(input("Enter the number:"))
print("multiplication tablie of",num)
for i in range(1,11):
 print(num*i)

Enter the number:  5
multiplication tablie of 5
5
10
15
20
25
30
35
40
45
50

In [ ]:
#Q2. 2 Write a program that calculates the sum of numbers from 1 to 100 using a while loop.

i = 1
sum = 0

while i <= 100:
    sum += i
    i += 1

print("The sum of numbers from 1 to 100 is:", sum)

The sum of numbers from 1 to 100 is: 5050

In [ ]:
#Q3. Write a program that finds the factorial of a number entered by the user.
n=1
num=5
for i in range(1,num+1):
 n=n*i
 print(n)

1
2
6
24
120

In [ ]:
#Q4.Given a list of numbers, print only the even numbers using a loop.
num=[12,10,13,18,22,35,98,77]
print("even number in the list:")
for i in num:
  if i % 2==0:
    print(i)

even number in the list:
12
10
18
22
98

In [ ]:
#Q5.Print the following pattern using loops: * ** *** **** *****
# Program to print star pattern
i = 1
while i <= 5:
    print("*" * i)
    i += 1

*
**
***
****
*****

 Part E: Mini Project (Mix of All Topics)
  Write a program that: Asks the user for their name and roll number. Takes marks for 5 subjects
 (out of 100). Stores them in a list. Calculates total marks and average. Stores all details in a
 dictionary (name, roll_no, marks, total, average, grade). Prints the final report card in a
 readable format.

In [2]:
# Taking user details
name = input("Enter your name: ")
roll_no = input("Enter your roll number: ")

# Taking marks for 5 subjects
marks = []
print("Enter marks for 5 subjects:")

for i in range(5):
    m = int(input("Enter marks: "))
    marks.append(m)

# Calculating total and average
total = sum(marks)
average = total / 5

# Finding grade
if average >= 90:
    grade = "A"
elif average >= 75:
    grade = "B"
elif average >= 50:
    grade = "C"
else:
    grade = "Fail"

# Storing in dictionary
student = {
    "name": name,
    "roll_no": roll_no,
    "marks": marks,
    "total": total,
    "average": average,
    "grade": grade
}

# Printing report card
print("\n--- REPORT CARD ---")
print("Name:", student["name"])
print("Roll No:", student["roll_no"])
print("Marks:", student["marks"])
print("Total:", student["total"])
print("Average:", student["average"])
print("Grade:", student["grade"])

Enter your name: 85
Enter your roll number: 45
Enter marks for 5 subjects:
Enter marks: 60
Enter marks: 8
Enter marks: 71
Enter marks: 64
Enter marks: 70

--- REPORT CARD ---
Name: 85
Roll No: 45
Marks: [60, 8, 71, 64, 70]
Total: 273
Average: 54.6
Grade: C