In [ ]:
# Q1.Variables & Data Types Create three variables name, age, and is_student and print them using
 #an f-string in a single line. Example Output: My name is John, I am 21 years old, Student: True

name="john"
age=21
is_student=True
print(f"my name is{name}, I am {age} year old, Student:{is_student}")

my name isjohn, I am 21 year old, Student:True

In [ ]:
#Q2.String Operations Write a program that takes a string from the user and prints: - The string in
 #uppercase - The reversed string - The number of vowels in it
text= input("Enter the string")
print(text.upper())
reverse=text[::-1]
vowels="aeiouAEIOU"
vowel_count = sum(1 for char in text if char in vowels)
print("Reversed:",reverse)
print("Number of vowel",vowel_count)

Enter the string   hello
   HELLO
Reversed: olleh
Number of vowel 2

In [ ]:
#Q3 Type Casting Input two numbers as strings, convert them into integers, and print their sum and
 #product.
num1=input("Enter first number:")            #input two numbers as strings
num2=input("Enter second number:")
a=int(num1)                                  #Convert String into integers
b=int(num2)
print("SUM:",a+b)
print("Product:",a*b)

Enter first number:      25
Enter second number:20
SUM: 45
Product: 500

In [ ]:
#Q4.If–Else Write a program to check whether a given number is positive, negative, or zero.
num=float(input("Enter the number"))
if num > 0 :
   print("The Number is Positive")
elif  num < 0:
  print("The Number is nagative")
else:
  print("The number is Zeo")

Enter the number     25
The Number is Positive

In [ ]:
#Q5 Nested If Write a program to check if a person is eligible to vote. - Age must be ≥ 18 - If eligible,
#check if age ≥ 60 → print "Senior Citizen", else "Adult"
age=int(input("Enter your age:"))
if age >=18:
  print("you are eligible to vote")
  if age >= 60:
         print("Senior Citizen")
  else:
     print("Adult")
else:
  print("You are not eligible to vote")

Enter your age:    20
you are eligible to vote
Adult

In [ ]:
#Q6.While Loop Write a program to print the sum of all even numbers between 1 and 50 using a while
 #loop.
num=1
total=0
while num <=50:
  if num %2==0:
    total +=num
  num +=1
print("Sum of even numbers between 1 and 50 is:",total)

Sum of even numbers between 1 and 50 is: 650

In [ ]:
#Q7. For Loop Write a program to print all elements of a list in reverse order using a for loop (no slicing
     #allowed).
num=[1,2,3,4,5,6]
for x in range(len(num) -1,-1,-1):
   print(num[x])

6
5
4
3
2
1

In [ ]:
#Q 8. Range Write a program to print all odd numbers from 1 to 20 using range().
for i in range(1,21,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#Q9.List Create a list of 5 fruits. - Add a new fruit to the list. - Remove the 2nd fruit. - Print the final list.
list=["apple","banana","kiwi","papaya","grapes"]
print(list)
list.append("pineapple")
print(list)
list.remove("kiwi")
print(list)

['apple', 'banana', 'kiwi', 'papaya', 'grapes']
['apple', 'banana', 'kiwi', 'papaya', 'grapes', 'pineapple']
['apple', 'banana', 'papaya', 'grapes', 'pineapple']

In [4]:
#Q.10. Tuple Create a tuple of 4 colors. - Try to change the 2nd element and note what error occurs.
     #Convert the tuple to a list and modify it successfully.
tuple=("white","black","orange","yellow")
print(tuple)
#tuple[2]="red"       # tuples are unchangable
y=list(tuple)
y[2]="red"
print(y)

('white', 'black', 'orange', 'yellow')
['white', 'black', 'red', 'yellow']

In [8]:
#11. Set Create two sets: A = {1, 2, 3, 4} B = {3, 4, 5, 6} Perform and print the results of: - Union
     #Intersection - Difference (A - B)
A={1,2,3,4}
B={3,4,5,6}
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [21]:
# 12. Dictionary Create a dictionary to store student details: {'name': 'Alice', 'age': 22, 'course':
       # 'Python'} Add a new key grade, update age to 23, and print all keys and values.
student_details={
    "name":"Alice",
    "age":22,
    "course":"python",
    "grade":"A",


}
print(student_details)
student_details["age"]=23
print(student_details)

{'name': 'Alice', 'age': 22, 'course': 'python', 'grade': 'A'}
{'name': 'Alice', 'age': 23, 'course': 'python', 'grade': 'A'}

In [24]:
#Q13.Functions Write a function find_max(a, b, c) that returns the largest number among three given
    #numbers.
def find_max(a, b, c):
    if a >= b and a >= c:
        return a
    elif b >= a and b >= c:
        return b
    else:
        return c


print(find_max(10, 25, 15))

25

In [25]:
#Q14 Try...Except Write a program that takes two numbers and divides them. - Handle the exception
      #if the denominator is zero. - Print "Division by zero not allowed" instead of crashing.
try:
    a = float(input("Enter first number: "))
    b = float(input("Enter second number: "))

    result = a / b
    print("Result:", result)

except ZeroDivisionError:
    print("Division by zero not allowed")

Enter first number:     25
Enter second number:   55
Result: 0.45454545454545453

In [28]:
#Q15.Classes & Objects Create a class Student with attributes name and marks. Add a method
  #display() to print student details. Then create two student objects and display their information.
 #Example Output: Name: Rohan, Marks: 85 Name: Meena, Marks: 92
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def display(self):
        print(f"Name: {self.name}, Marks: {self.marks}")


# Creating two student objects
s1 = Student("Rohan", 85)
s2 = Student("Meena", 92)

# Displaying their information
s1.display()
s2.display()

Name: Rohan, Marks: 85
Name: Meena, Marks: 92