Q1. Simple Calculation

In [4]:
# Q1. Create two variables 'a' and 'b' with values 15 and 4.
a=15
b=4
#print the following
print("Addition of a and b",a+b)
print("Subtraction of a and b",a-b)
print("Multiplication of a and b",a*b)
print("Division of a and b",a/b)
print("Reminder when a is divided by b",a%b)

Addition of a and b 19
Subtraction of a and b 11
Multiplication of a and b 60
Division of a and b 3.75
Reminder when a is divided by b 3

Q2.Even or odd

In [7]:
#Q2. write a programe that takes a number (say num=27) and print whether it is Even or ODD.
num=27
if num % 2==0:
 print("Number is Even")
else:
  print("Number is ODD")

Number is ODD

Q3.Largest of Three Numbers

In [11]:
# write a programe to find the largest number among three numbers.Example: a=12,b=25bc=9 ,Output should be 25.
a=12
b=25
c=9
if a>=b and a>=c:
  largest =a
elif b>=a and b>=c:
  largest = b
else:
  largest =c
print("largest number",largest)

largest number 25

Q 4. Grade Calculator

In [45]:
#Suppose a student has marks in 5 subjects. store them in variables and calculate the average. Based on the average,print the grade
sub1=float(input("Enter marks for subject 1"))
sub2=float(input("Enter marks for subject 2"))
sub3=float(input("Enter marks for subject 3"))
sub4=float(input("Enter marks for subject 4"))
sub5=float(input("Enter marks for subject 5"))
average=(sub1+sub2+sub3+sub4+sub5)/5
if average >=90:
  grade = "A"
elif average >=75:
  grade ="B"
elif average >=50:
  grade ="C"
else:
  grade ="Fail"
print(f"Average Marks:{average:.2f}")
print(f"Grade:{grade}")

Enter marks for subject 1  80
Enter marks for subject 260
Enter marks for subject 350
Enter marks for subject 4  20
Enter marks for subject 5   40
Average Marks:50.00
Grade:C

Q5 String Operations

In [42]:
#Create a string variable name="Python programmimg"
name="Python Programming"
print(name)             #Print the String
print(len(name))        #Length of the String
print(name[:6])         #First 6 characters
print(name[13:])        #Last 5 Characters
print(name.upper())     #Convert the string into UPPERCASE
print(name.replace("Python","Java"))    # Replace the word "Python" with "Java"

Python Programming
18
Python
mming
PYTHON PROGRAMMING
Java Programming

Q6. Palindrome Checker

In [51]:
#write a program to check if a string is a palindrome.Example:'madam','level.
string=input("Enter a string")
if string == string[::-1]:
  print("It is a palindrome.")
else:
  print("It is not a palindrome")

Enter a stringMADAM
It is a palindrome.

Q7.List Operations

In [23]:
#Create a list of 6 numbers
a=[10,20,30,40,50,60]
print(a[1])       #print first element of list
print(a[5])       #print last element of list
print(a[:3])      #print A slice of first 3 element
a.append(70)      # Append a new number to the list.
print(a)
a.remove(50)      # Remove one number from the list.
print(a)

20
60
[10, 20, 30]
[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40, 60, 70]

 Q8.Sum of List Elements

In [54]:
# Write a program to calculate the sum of all numbers in a list.
A=[10,20,30,40,50]
Total =sum(A)
print("The sum of the list elementt is:",Total)

The sum of the list elementt is: 150

 Q9. Find the Maximum Number in a List
 Without using the built-in max() function, write code to find the largest number in a list.

In [55]:
numbers=[72,88,14,20,25,45,89]
largest =numbers[0]
for num in numbers:
  if num> largest:
    largest =num
print("The largest numbers in the list is:",largest)

The largest numbers in the list is: 89

Q10. Mini Project: Calculator
 Write a program that takes two numbers and an operator (+, -, *, /) from the user.
 Perform the operation and print the result.
 Example:- Input: 10, 5, + → Output: 15- Input: 12, 4, / → Output: 3.0

In [62]:
a=int(input("Enter the number"))
b=int(input("Enter the number"))
operator=input("Enter an operator(+,-,*,/):")
if operator =='+':
      result =a+b
elif operator =='-':
      result =a-b
elif operator =='*':
      result =a*b
elif operator =='/':
    if b !=0:
       result =a/b
    else:
        result ="Error ! division by zero"
else:
      result ="Invalid operator!"
print("Result",result)

Enter the number12
Enter the number4
Enter an operator(+,-,*,/):/
Result 3.0